<section id="technologies" class="section-container p-6 md:p-8 reveal mb-16">
    <h2 class="text-3xl font-bold text-glow mb-8">// TECHNOLOGIES_</h2>
    <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-x-4 gap-y-8">
      <!-- Javascript -->
      <div class="tech-logo-container">
        <img src="svg/javascript.svg" alt="JavaScript" width="48" height="48" />
        <p class="text-glow-dim text-center">JavaScript</p>
      </div>
      <!-- TypeScript -->
      <div class="tech-logo-container">
        <img src="svg/typescript.svg" alt="TypeScript" width="48" height="48" />
        <p class="text-glow-dim text-center">TypeScript</p>
      </div>
      <!-- PHP -->
      <div class="tech-logo-container">
        <img src="svg/php.svg" alt="PHP" width="48" height="48" />
        <p class="text-glow-dim text-center">PHP</p>
      </div>
      <!-- Go -->
      <div class="tech-logo-container">
        <img src="svg/go.svg" alt="Go" width="48" height="48" />
        <p class="text-glow-dim text-center">Go</p>
      </div>
      <!-- Angular -->
      <div class="tech-logo-container">
        <img src="svg/angular.svg" alt="Angular" width="48" height="48" />
        <p class="text-glow-dim text-center">Angular</p>
      </div>
      <!-- Node.js -->
      <div class="tech-logo-container">
        <img src="svg/nodejs.svg" alt="Node.js" width="48" height="48" />
        <p class="text-glow-dim text-center">Node.js</p>
      </div>
      <!-- Express -->
      <div class="tech-logo-container">
        <img src="svg/express.svg" alt="Express" width="48" height="48" />
        <p class="text-glow-dim text-center">Express</p>
      </div>
      <!-- Fastify -->
      <div class="tech-logo-container">
        <img src="svg/fastify.svg" alt="Fastify" width="48" height="48" />
        <p class="text-glow-dim text-center">Fastify</p>
      </div>
      <!-- NestJS -->
      <div class="tech-logo-container">
        <img src="svg/nestjs.svg" alt="NestJS" width="48" height="48" />
        <p class="text-glow-dim text-center">NestJS</p>
      </div>
      <!-- Yii2 -->
      <div class="tech-logo-container">
        <img src="svg/yii2.svg" alt="Yii2" width="48" height="48" />
        <p class="text-glow-dim text-center">Yii2</p>
      </div>
      <!-- Laravel -->
      <div class="tech-logo-container">
        <img src="svg/laravel.svg" alt="Laravel" width="48" height="48" />
        <p class="text-glow-dim text-center">Laravel</p>
      </div>
      <!-- Fiber -->
      <div class="tech-logo-container">
        <img src="svg/fiber.svg" alt="Fiber" width="48" height="48" />
        <p class="text-glow-dim text-center">Fiber</p>
      </div>
      <!-- PostgreSQL -->
      <div class="tech-logo-container">
        <img src="svg/pgsql.svg" alt="PostgreSQL" width="48" height="48" />
        <p class="text-glow-dim text-center">PostgreSQL</p>
      </div>
      <!-- MySQL -->
      <div class="tech-logo-container">
        <img src="svg/mysql.svg" alt="MySQL" width="48" height="48" />
        <p class="text-glow-dim text-center">MySQL</p>
      </div>
      <!-- MongoDB -->
      <div class="tech-logo-container">
        <img src="svg/mongodb.svg" alt="MongoDB" width="48" height="48" />
        <p class="text-glow-dim text-center">MongoDB</p>
      </div>
      <!-- Redis -->
      <div class="tech-logo-container">
        <img src="svg/mongodb.svg" alt="redis" width="48" height="48" />
        <p class="text-glow-dim text-center">Redis</p>
      </div>
      <!-- AWS -->
      <div class="tech-logo-container">
        <img src="svg/aws.svg" alt="aws" width="48" height="48" />
        <p class="text-glow-dim text-center">AWS</p>
      </div>
      <!-- RabbitMQ -->
      <div class="tech-logo-container">
        <img src="svg/rabbitMQ.svg" alt="RabbitMQ" width="48" height="48" />
        <p class="text-glow-dim text-center">RabbitMQ</p>
      </div>
      <!-- Git -->
      <div class="tech-logo-container">
        <img src="svg/git.svg" alt="git" width="48" height="48" />
        <p class="text-glow-dim text-center">Git</p>
      </div>
      <!-- Jest -->
      <div class="tech-logo-container">
        <img src="svg/jest.svg" alt="Jest" width="48" height="48" />
        <p class="text-glow-dim text-center">Jest</p>
      </div>
      <!-- Docker -->
      <div class="tech-logo-container">
        <img src="svg/docker.svg" alt="Docker" width="48" height="48" />
        <p class="text-glow-dim text-center">Docker</p>
      </div>
      <!-- Elastic APM -->
      <div class="tech-logo-container">
        <img src="svg/elasticapm.svg" alt="Elastic APM" width="48" height="48" />
        <p class="text-glow-dim text-center">Elastic</p>
      </div>
      <!-- Jira -->
      <div class="tech-logo-container">
        <img src="svg/jira.svg" alt="Jira" width="48" height="48" />
        <p class="text-glow-dim text-center">Jira</p>
      </div>
    </div>
  </section>