<!-- Experience Section -->
<section id="experience" class="section-container p-6 md:p-8 reveal mb-16">
  <h2 class="text-3xl font-bold text-glow mb-6">// WORK_EXPERIENCE_</h2>
  <div class="space-y-8 relative border-l-2 border-green-500/50 pl-8">
    <div class="absolute -left-[11px] top-1 w-5 h-5 bg-[#0dff00] rounded-full border-4 border-black"></div>
    <div class="space-y-8">
      <!-- Dynamic Experience items -->
      <div class="reveal" *ngFor="let experience of displayExperiences">
        <h3 class="text-2xl font-semibold text-glow">{{ experience.title }}</h3>
        <p class="text-lg text-glow-dim">{{ experience.companyName }}</p>
        <p class="text-sm text-green-300/70">{{ getDateRange(experience.startDate, experience.endDate) }} | {{ experience.location }}</p>
        <ul class="list-disc list-inside mt-3 text-glow-dim space-y-2">
          <li *ngFor="let bullet of experience.jobBullets">{{ bullet }}</li>
        </ul>
      </div>
      

    </div>
  </div>
</section> 