<nav class="mt-8 flex flex-wrap justify-center gap-x-4 gap-y-2 md:gap-x-6">
  <a href="#about" class="text-glow-dim hover:text-glow transition-all duration-300 text-lg">_summary</a>
  <a href="#experience" class="text-glow-dim hover:text-glow transition-all duration-300 text-lg">_experience</a>
  <a href="#skills" class="text-glow-dim hover:text-glow transition-all duration-300 text-lg">_skills</a>
  <a href="#education" class="text-glow-dim hover:text-glow transition-all duration-300 text-lg">_education</a>
  <a href="#technologies"
    class="text-glow-dim hover:text-glow transition-all duration-300 text-lg">_technologies</a>
  <a href="#testimonials"
    class="text-glow-dim hover:text-glow transition-all duration-300 text-lg">_testimonials</a>
  <a href="#contact" class="text-glow-dim hover:text-glow transition-all duration-300 text-lg">_connect</a>
</nav> 